* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px aqua solid; */
}

::selection {
    /* color: white;
    background-color: black; */
}

.container{
    padding-inline: 50px;
}

div img {
    width: 50%;
}

.brand-logo {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #ff4500;
    padding: 2vh;
}

header nav li {
    display: inline;
    margin: 0 3vw;
    font-family: verdana;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s linear;
}

header nav a {
    text-decoration: none;
    color: #000000;
    transition: .2s linear;
}

header nav li:hover {
    transform: translateY(-5px);
}

header nav a:hover {
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

main .content {
    width: 70vw;
    padding: 5vh;
    text-align: justify;
}

footer .footer-resources { 
    background-color: rgb(3, 4, 94);
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-resources .inner-resources {
    display: flex;
    justify-content: center;
}

footer .footer-resources .inner-resources .resource-img {
    /* width: 30vw; */
}

footer .footer-resources .inner-resources .resource-img img {
    width: 30vw;
}

footer .footer-resources .inner-resources .contact-us {
    background-color: yellow;
    width: 30vw;
    /* display: flex; */
}

footer .footer-resources .inner-resources .follow-us {
    background-color: white;
    width: 30vw;
}


footer .footer-licenses {
    background-color: #001836;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-licenses p {
    border: 1px solid yellow;
    color: white;
    /* padding: 20px 0; */
}

footer .footer-arrow {
    position: fixed;
    bottom: 3vh;
    right: 5vh;
    width: 10vh;
    height: 10vh;
    /* background-color: #ffffff; */
    border-radius: 50%;    
}

footer .footer-arrow img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

