* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px black solid; */
}

div img {
    width: 50%;
}

.brand-logo {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #ff4500;
    padding: 2vh;
}

header nav li {
    display: inline;
    margin: 0 3vw;
    font-family: verdana;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s linear;
}

header nav a {
    text-decoration: none;
    color: #000000;
    transition: .2s linear;
}

header nav li:hover {
    transform: translateY(-5px);
}

header nav a:hover {
    color: white;
}

section {
    display: flex;
    justify-content: center;
}

section .content {
    width: 70vw;
    padding: 5vh;
}

footer .home-arrow {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    width: 10vh;
    height: 10vh;
    background-color: #ffffff;
    border-radius: 50%;    
}

footer .home-arrow img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}